In [200]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import seaborn as sns

In [202]:
# Load raw data
file_path = "../Data/raw/incom2024_delay_example_dataset.csv"

data_log = pd.read_csv(file_path)
display(data_log.head())

,payment_type,profit_per_order,sales_per_customer,category_id,category_name,customer_city,customer_country,customer_id,customer_segment,customer_state,customer_zipcode,department_id,department_name,latitude,longitude,market,order_city,order_country,order_customer_id,order_date,order_id,order_item_cardprod_id,order_item_discount,order_item_discount_rate,order_item_id,order_item_product_price,order_item_profit_ratio,order_item_quantity,sales,order_item_total_amount,order_profit_per_order,order_region,order_state,order_status,product_card_id,product_category_id,product_name,product_price,shipping_date,shipping_mode,label
0,DEBIT,34.448338,92.49099,9.0,Cardio Equipment,Caguas,Puerto Rico,12097.6830,Consumer,PR,725.0000,3.0,Footwear,18.359064,-66.370575,Europe,Viena,Austria,12073.33600,2015-08-12 00:00:00+01:00,15081.2890,191.0,12.623338,0.13,38030.996,99.99,0.41,1.0,99.99,84.99157,32.083145,Western Europe,Vienna,COMPLETE,191.0,9.0,Nike Men's Free 5.0+ Running Shoe,99.99,2015-08-13 00:00:00+01:00,Standard Class,-1
1,TRANSFER,91.193540,181.99008,48.0,Water Sports,Albuquerque,EE. UU.,5108.1045,Consumer,CA,92745.1600,7.0,Fan Shop,37.636528,-121.119630,LATAM,Buenos Aires,Argentina,5111.04800,2017-02-10 00:00:00+00:00,56444.6840,1073.0,16.500000,0.07,142621.780,199.99,0.48,1.0,199.99,181.99000,91.235870,South America,Buenos Aires,PENDING,1073.0,48.0,Pelican Sunstream 100 Kayak,199.99,2017-04-09 00:00:00+01:00,Standard Class,-1
2,DEBIT,8.313806,89.96643,46.0,Indoor/Outdoor Games,Amarillo,Puerto Rico,4293.4478,Consumer,PR,2457.7297,7.0,Fan Shop,18.294100,-66.037056,Europe,Burnie,France,4134.76500,2015-01-01 00:00:00+00:00,7508.5713,1014.0,6.600000,0.06,18723.178,49.98,0.09,2.0,99.96,93.81015,6.965549,Western Europe,Nord-Pas-de-Calais-Picardy,COMPLETE,1014.0,46.0,O'Brien Men's Neoprene Life Vest,49.98,2015-03-18 00:00:00+00:00,Second Class,1
3,TRANSFER,-89.463196,99.15065,17.0,Cleats,Caguas,Puerto Rico,546.5306,Consumer,PR,725.0000,4.0,Apparel,18.202435,-66.370510,LATAM,Santa Ana,El Salvador,495.18726,2017-05-31 00:00:00+01:00,56196.9260,365.0,16.942171,0.16,141654.580,59.99,-0.80,2.0,119.98,99.89060,-95.401400,Central America,Santa Ana,PROCESSING,365.0,17.0,Perfect Fitness Perfect Rip Deck,59.99,2017-03-18 00:00:00+00:00,Second Class,0
4,DEBIT,44.722590,170.97824,48.0,Water Sports,Peabody,EE. UU.,1546.3980,Consumer,CA,95118.6000,7.0,Fan Shop,38.719500,-122.319720,LATAM,Blumenau,Mexico,1758.91190,2015-03-28 00:00:00+00:00,5565.5796,1073.0,29.990000,0.15,14204.896,199.99,0.27,1.0,199.99,171.07587,44.569000,Central America,Illinois,COMPLETE,1073.0,48.0,Pelican Sunstream 100 Kayak,199.99,2015-03-30 00:00:00+01:00,Standard Class,1

In [204]:
#Check for null values
#data_log.isnull() #This returns a Dataframe with false values indicating that there are no missing or null values
#data_log.isna().any()   # We use this to check for null values in each of the columns
#daat_lo.isna().sum()  #We use this to estimate the number of null values in each column

In [206]:
#Checking for duplicate columns
#data_log.duplicated()

In [208]:
# data_log.set_option('display.max_row', None)
#pd.set_option('display.max_columns',None)
#display(data_log)

In [210]:
#Drop specific columns : The customer_
data_log_1 = data_log.drop(columns=["customer_country", "customer_state", "order_state", "order_region"], errors ='ignore')
display(data_log_1.head())

,payment_type,profit_per_order,sales_per_customer,category_id,category_name,customer_city,customer_id,customer_segment,customer_zipcode,department_id,department_name,latitude,longitude,market,order_city,order_country,order_customer_id,order_date,order_id,order_item_cardprod_id,order_item_discount,order_item_discount_rate,order_item_id,order_item_product_price,order_item_profit_ratio,order_item_quantity,sales,order_item_total_amount,order_profit_per_order,order_status,product_card_id,product_category_id,product_name,product_price,shipping_date,shipping_mode,label
0,DEBIT,34.448338,92.49099,9.0,Cardio Equipment,Caguas,12097.6830,Consumer,725.0000,3.0,Footwear,18.359064,-66.370575,Europe,Viena,Austria,12073.33600,2015-08-12 00:00:00+01:00,15081.2890,191.0,12.623338,0.13,38030.996,99.99,0.41,1.0,99.99,84.99157,32.083145,COMPLETE,191.0,9.0,Nike Men's Free 5.0+ Running Shoe,99.99,2015-08-13 00:00:00+01:00,Standard Class,-1
1,TRANSFER,91.193540,181.99008,48.0,Water Sports,Albuquerque,5108.1045,Consumer,92745.1600,7.0,Fan Shop,37.636528,-121.119630,LATAM,Buenos Aires,Argentina,5111.04800,2017-02-10 00:00:00+00:00,56444.6840,1073.0,16.500000,0.07,142621.780,199.99,0.48,1.0,199.99,181.99000,91.235870,PENDING,1073.0,48.0,Pelican Sunstream 100 Kayak,199.99,2017-04-09 00:00:00+01:00,Standard Class,-1
2,DEBIT,8.313806,89.96643,46.0,Indoor/Outdoor Games,Amarillo,4293.4478,Consumer,2457.7297,7.0,Fan Shop,18.294100,-66.037056,Europe,Burnie,France,4134.76500,2015-01-01 00:00:00+00:00,7508.5713,1014.0,6.600000,0.06,18723.178,49.98,0.09,2.0,99.96,93.81015,6.965549,COMPLETE,1014.0,46.0,O'Brien Men's Neoprene Life Vest,49.98,2015-03-18 00:00:00+00:00,Second Class,1
3,TRANSFER,-89.463196,99.15065,17.0,Cleats,Caguas,546.5306,Consumer,725.0000,4.0,Apparel,18.202435,-66.370510,LATAM,Santa Ana,El Salvador,495.18726,2017-05-31 00:00:00+01:00,56196.9260,365.0,16.942171,0.16,141654.580,59.99,-0.80,2.0,119.98,99.89060,-95.401400,PROCESSING,365.0,17.0,Perfect Fitness Perfect Rip Deck,59.99,2017-03-18 00:00:00+00:00,Second Class,0
4,DEBIT,44.722590,170.97824,48.0,Water Sports,Peabody,1546.3980,Consumer,95118.6000,7.0,Fan Shop,38.719500,-122.319720,LATAM,Blumenau,Mexico,1758.91190,2015-03-28 00:00:00+00:00,5565.5796,1073.0,29.990000,0.15,14204.896,199.99,0.27,1.0,199.99,171.07587,44.569000,COMPLETE,1073.0,48.0,Pelican Sunstream 100 Kayak,199.99,2015-03-30 00:00:00+01:00,Standard Class,1

In [216]:
# Convert order_date to datetime
data_log_1['order_date'] = pd.to_datetime(data_log_1['order_date'], errors='coerce', utc=True)

# Drop rows where conversion failed (NaT values)
data_log_1 = data_log_1.dropna(subset=['order_date'])

# First extract time before modifying order_date
data_log_1['order_time'] = data_log_1['order_date'].dt.time  # Extract time

# Now extract the date (this step changes order_date to object)
data_log_1['order_date_only'] = data_log_1['order_date'].dt.date  # Extract date

# Show results
print(data_log_1[['order_date', 'order_date_only', 'order_time']].head())

                 order_date order_date_only order_time
0 2015-08-11 23:00:00+00:00      2015-08-11   23:00:00
1 2017-02-10 00:00:00+00:00      2017-02-10   00:00:00
2 2015-01-01 00:00:00+00:00      2015-01-01   00:00:00
3 2017-05-30 23:00:00+00:00      2017-05-30   23:00:00
4 2015-03-28 00:00:00+00:00      2015-03-28   00:00:00

In [218]:
# Ensure the 'shipping_date' column is in datetime format with UTC option 
data_log_1['shipping_date'] = pd.to_datetime(data_log_1['shipping_date'], errors='coerce', utc=True)

# Drop rows where conversion failed (NaT values)
data_log_1 = data_log_1.dropna(subset=['shipping_date'])

# Now extract time before modifying shipping_date
data_log_1['shipping_time'] = data_log_1['shipping_date'].dt.time  # Extract time

# Now extract the date (this step changes shipping_date to object)
data_log_1['shipping_date_only'] = data_log_1['shipping_date'].dt.date  # Extract date

# Show results
print(data_log_1[['shipping_date', 'shipping_date_only', 'shipping_time']].head())

              shipping_date shipping_date_only shipping_time
0 2015-08-12 23:00:00+00:00         2015-08-12      23:00:00
1 2017-04-08 23:00:00+00:00         2017-04-08      23:00:00
2 2015-03-18 00:00:00+00:00         2015-03-18      00:00:00
3 2017-03-18 00:00:00+00:00         2017-03-18      00:00:00
4 2015-03-29 23:00:00+00:00         2015-03-29      23:00:00

In [220]:
display(data_log_1.head())

,payment_type,profit_per_order,sales_per_customer,category_id,category_name,customer_city,customer_id,customer_segment,customer_zipcode,department_id,department_name,latitude,longitude,market,order_city,order_country,order_customer_id,order_date,order_id,order_item_cardprod_id,order_item_discount,order_item_discount_rate,order_item_id,order_item_product_price,order_item_profit_ratio,order_item_quantity,sales,order_item_total_amount,order_profit_per_order,order_status,product_card_id,product_category_id,product_name,product_price,shipping_date,shipping_mode,label,shipping_time,shipping_date_only,order_time,order_date_only
0,DEBIT,34.448338,92.49099,9.0,Cardio Equipment,Caguas,12097.6830,Consumer,725.0000,3.0,Footwear,18.359064,-66.370575,Europe,Viena,Austria,12073.33600,2015-08-11 23:00:00+00:00,15081.2890,191.0,12.623338,0.13,38030.996,99.99,0.41,1.0,99.99,84.99157,32.083145,COMPLETE,191.0,9.0,Nike Men's Free 5.0+ Running Shoe,99.99,2015-08-12 23:00:00+00:00,Standard Class,-1,23:00:00,2015-08-12,23:00:00,2015-08-11
1,TRANSFER,91.193540,181.99008,48.0,Water Sports,Albuquerque,5108.1045,Consumer,92745.1600,7.0,Fan Shop,37.636528,-121.119630,LATAM,Buenos Aires,Argentina,5111.04800,2017-02-10 00:00:00+00:00,56444.6840,1073.0,16.500000,0.07,142621.780,199.99,0.48,1.0,199.99,181.99000,91.235870,PENDING,1073.0,48.0,Pelican Sunstream 100 Kayak,199.99,2017-04-08 23:00:00+00:00,Standard Class,-1,23:00:00,2017-04-08,00:00:00,2017-02-10
2,DEBIT,8.313806,89.96643,46.0,Indoor/Outdoor Games,Amarillo,4293.4478,Consumer,2457.7297,7.0,Fan Shop,18.294100,-66.037056,Europe,Burnie,France,4134.76500,2015-01-01 00:00:00+00:00,7508.5713,1014.0,6.600000,0.06,18723.178,49.98,0.09,2.0,99.96,93.81015,6.965549,COMPLETE,1014.0,46.0,O'Brien Men's Neoprene Life Vest,49.98,2015-03-18 00:00:00+00:00,Second Class,1,00:00:00,2015-03-18,00:00:00,2015-01-01
3,TRANSFER,-89.463196,99.15065,17.0,Cleats,Caguas,546.5306,Consumer,725.0000,4.0,Apparel,18.202435,-66.370510,LATAM,Santa Ana,El Salvador,495.18726,2017-05-30 23:00:00+00:00,56196.9260,365.0,16.942171,0.16,141654.580,59.99,-0.80,2.0,119.98,99.89060,-95.401400,PROCESSING,365.0,17.0,Perfect Fitness Perfect Rip Deck,59.99,2017-03-18 00:00:00+00:00,Second Class,0,00:00:00,2017-03-18,23:00:00,2017-05-30
4,DEBIT,44.722590,170.97824,48.0,Water Sports,Peabody,1546.3980,Consumer,95118.6000,7.0,Fan Shop,38.719500,-122.319720,LATAM,Blumenau,Mexico,1758.91190,2015-03-28 00:00:00+00:00,5565.5796,1073.0,29.990000,0.15,14204.896,199.99,0.27,1.0,199.99,171.07587,44.569000,COMPLETE,1073.0,48.0,Pelican Sunstream 100 Kayak,199.99,2015-03-29 23:00:00+00:00,Standard Class,1,23:00:00,2015-03-29,00:00:00,2015-03-28

In [222]:
# Save data_log_1 to CSV
#data_log_1.to_csv("../Data/income2024_cleaned.csv", index=False)
#print("data_log_1 saved to income2024_cleaned.csv")

In [226]:
# Dispalay file containing the description about the data 

file_path = "../Data/raw/incom2024_delay_variable_description.csv"

data_desc = pd.read_csv(file_path)
display(data_desc)

,variable_name,type,description
0,payment_type,categorical,Type of transaction made
1,profit_per_order,numerical,Earnings per order placed
2,sales_per_customer,numerical,Total sales per customer made per customer
3,category_id,numerical,Product category code
4,category_name,text,Description of the product category
5,customer_city,categorical,City where the customer made the purchase
6,customer_country,categorical,Country where the customer made the purchase
7,customer_id,numerical,Customer ID
8,customer_segment,categorical,"Types of Customers Consumer, Corporate, Home O..."
9,customer_state,categorical,State to which the store where the purchase is...
10,customer_zipcode,text,Customer Zipcode
11,department_id,numerical,Department code of store
12,department_name,text,Department name of store
13,latitude,numerical,Latitude corresponding to location of store
14,longitude,numerical,Longitude corresponding to location of store
15,market,categorical,Market to where the order is delivered: Africa...
16,order_city,categorical,Destination city of the order
17,order_country,categorical,Destination country of the order
18,order_customer_id,numerical,Customer order code
19,order_date,datetime,Date on which the order is made
20,order_id,numerical,Order code
21,order_item_cardprod_id,numerical,Product code generated through the RFID reader
22,order_item_discount,numerical,Order item discount value
23,order_item_discount_rate,numerical,Order item discount percentage
24,order_item_id,numerical,Order item code
25,order_item_product_price,numerical,Price of products without discount
26,order_item_profit_ratio,numerical,Order Item Profit Ratio
27,order_item_quantity,numerical,Number of products per order
28,sales,numerical,Value in sales
29,order_item_total_amount,numerical,Total amount per order
30,order_profit_per_order,numerical,Order Profit Per Order
31,order_region,categorical,Region of the world where the order is deliver...
32,order_state,categorical,State of the region where the order is delivered
33,order_status,categorical,"Order Status: COMPLETE, PENDING, CLOSED, PENDI..."
34,product_card_id,numerical,Product code
35,product_category_id,numerical,Product category code
36,product_name,text,Product name
37,product_price,numerical,Product price
38,shipping_date,datetime,Exact date and time of shipment
39,shipping_mode,categorical,The following shipping modes are presented: St...
40,label,categorical,"delivery outcomes: -1 early arrival, 0 on time..."

In [228]:
data_log_1.columns # Standardizing columns

Index(['payment_type', 'profit_per_order', 'sales_per_customer', 'category_id',
       'category_name', 'customer_city', 'customer_id', 'customer_segment',
       'customer_zipcode', 'department_id', 'department_name', 'latitude',
       'longitude', 'market', 'order_city', 'order_country',
       'order_customer_id', 'order_date', 'order_id', 'order_item_cardprod_id',
       'order_item_discount', 'order_item_discount_rate', 'order_item_id',
       'order_item_product_price', 'order_item_profit_ratio',
       'order_item_quantity', 'sales', 'order_item_total_amount',
       'order_profit_per_order', 'order_status', 'product_card_id',
       'product_category_id', 'product_name', 'product_price', 'shipping_date',
       'shipping_mode', 'label', 'shipping_time', 'shipping_date_only',
       'order_time', 'order_date_only'],
      dtype='object')

In [230]:
data_log_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15549 entries, 0 to 15548
Data columns (total 41 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   payment_type              15549 non-null  object
 1   profit_per_order          15549 non-null  float64
 2   sales_per_customer        15549 non-null  float64
 3   category_id               15549 non-null  float64
 4   category_name             15549 non-null  object
 5   customer_city             15549 non-null  object
 6   customer_id               15549 non-null  float64
 7   customer_segment          15549 non-null  object
 8   customer_zipcode          15549 non-null  float64
 9   department_id             15549 non-null  float64
 10  department_name           15549 non-null  object
 11  latitude                  15549 non-null  float64
 12  longitude                 15549 non-null  float64
 13  market                    15549 non-null  object
 14  order_city                15549 non-null  object
 15  order_country             15549 non-null  object
 16  order_customer_id         15549 non-null  float64
 17  order_date                15549 non-null  datetime64[ns, UTC]
 18  order_id                  15549 non-null  float64
 19  order_item_cardprod_id    15549 non-null  float64
 20  order_item_discount       15549 non-null  float64
 21  order_item_discount_rate  15549 non-null  float64
 22  order_item_id             15549 non-null  float64
 23  order_item_product_price  15549 non-null  float64
 24  order_item_profit_ratio   15549 non-null  float64
 25  order_item_quantity       15549 non-null  float64
 26  sales                     15549 non-null  float64
 27  order_item_total_amount   15549 non-null  float64
 28  order_profit_per_order    15549 non-null  float64
 29  order_status              15549 non-null  object
 30  product_card_id           15549 non-null  float64
 31  product_category_id       15549 non-null  float64
 32  product_name              15549 non-null  object
 33  product_price             15549 non-null  float64
 34  shipping_date             15549 non-null  datetime64[ns, UTC]
 35  shipping_mode             15549 non-null  object
 36  label                     15549 non-null  int64
 37  shipping_time             15549 non-null  object
 38  shipping_date_only        15549 non-null  object
 39  order_time                15549 non-null  object
 40  order_date_only           15549 non-null  object
dtypes: datetime64[ns, UTC](2), float64(23), int64(1), object(15)
memory usage: 4.9+ MB

In [232]:
data_log_1.isnull().sum()

payment_type                0
profit_per_order            0
sales_per_customer          0
category_id                 0
category_name               0
customer_city               0
customer_id                 0
customer_segment            0
customer_zipcode            0
department_id               0
department_name             0
latitude                    0
longitude                   0
market                      0
order_city                  0
order_country               0
order_customer_id           0
order_date                  0
order_id                    0
order_item_cardprod_id      0
order_item_discount         0
order_item_discount_rate    0
order_item_id               0
order_item_product_price    0
order_item_profit_ratio     0
order_item_quantity         0
sales                       0
order_item_total_amount     0
order_profit_per_order      0
order_status                0
product_card_id             0
product_category_id         0
product_name                0
product_price               0
shipping_date               0
shipping_mode               0
label                       0
shipping_time               0
shipping_date_only          0
order_time                  0
order_date_only             0
dtype: int64

## UNIVARIATE ANALYSIS ##

In [ ]:
#Separate numerical and categorical columns
num_cols = data_log_1.select_dtypes(include=['float64', 'int64']).columns
cat_cols = data_log_1.select_dtypes(include=['object']).columns

In [ ]:
# Summary statistics for numerical data
print("\nSummary statistics for numerical data: ")
display(data_log_1[num_cols].describe())

In [ ]:
#Value counts for categorical data
print("\nValue counts for categorical data: ")
for col in cat_cols: 
    print(f"\n{col}:\n", data_log_1[col].value_counts())

## Visualization

In [ ]:
# Histogram for numerical features
# Histograms for numerical features
for col in num_cols:
    plt.figure(figsize=(8, 4))
    sns.histplot(data_log_1[col], bins=30, kde=True)
    plt.title(f"Distribution of {col}")
    plt.xlabel(col)
    plt.ylabel("Frequency")
    plt.show()

In [ ]:
#Boxplots for numerical features: check for outliers
for col in num_cols:
    plt.figure9figsize=(10, 6)
    sns.boxplot(x=data_log_1[col])
    plt.title(f"{col}")
    plt.show()

In [ ]:
for col in cat_cols:
    plt.figure(figsize=(10, 5))
    data_log_1[col].value_counts().nlargest(10).plot(kind='bar', color='skyblue')
    plt.title(f"{col}")
    plt.ylabel("Count")
    plt.xticks(rotation=45)
    plt.show()

## Bivariate Analysis ##